.main-content {
  font-style: normal;
}
.float-left {
  float: left;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: rgba(119, 9, 9, .7);
  margin: 15px;
  border: 8px solid black;
  padding: 10px;
}
.logo {
  max-width: 500px;
  padding: 8px;
}
.text-column {
  width: 30%;
  float: left;
  margin: 10px;
}
